{% extends "users/layout.html" %}
{% load crispy_forms_field %}
{% load static  %}
{% block extra_head_lib %}
    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css'%}" rel="stylesheet" />
{% endblock %}
{% block body %}
  <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>New Course Form</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST" novalidate="novalidate">
                               {% csrf_token %}
                                <div class="form-group form-float">
                                    <div class="form-line">
                                       {% crispy_field form.name %}
                                        <label class="form-label">Name</label>
                                    </div>
                                    {%  if form.name.errors %}
                                        {% for error in form.name.errors %}
                                            <label id="name-error" class="error" for="name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}


                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.description %}
                                        <label class="form-label">description</label>
                                    </div>

                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.duration %}
                                        <label class="form-label">Duration</label>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.fees %}
                                        <label class="form-label">Fees:</label>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                       <p>
                                        <b>Status</b>
                                    </p>
                                        {% crispy_field form.status 'class' 'btn-group bootstrap-select form-control show-tick' %}

                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <p>
                                        <b>Created by </b>
                                    </p>
                                        {% crispy_field form.user 'class' 'btn-group bootstrap-select form-control show-tick' %}

                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" id="checkbox" name="checkbox">
                                    <label for="checkbox">I have read and accept the terms</label>
                                </div>
                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% block extra_js_lib %}


{% endblock %}